.menu-icon img.menu-default {
    width: 35px; /* Исходный размер */
    height: 35px;
    transform: scale(0.96); /* Уменьшаем масштаб на 4% (примерно на 1px) */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-icon img.menu-hover {
    width: 35px; /* Исходный размер */
    height: 35px;
    transform: translateY(0); /* Исходное положение */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-icon:hover img.menu-default {
    opacity: 0; /* Скрываем обычное изображение */
}

.menu-icon:hover img.menu-hover {
    opacity: 1; /* Показываем hover-изображение */
    transform: translateY(-10px); /* Поднимаем hover-изображение на 10px */
}